<div class="container" fxLayout="row" fxLayout.sm="column"  fxLayout.xs="column" fxLayoutAlign.xs="start center"
  fxLayoutAlign.sm="start center" fxLayoutAlign.gt-sm="center center" fxLayoutGap="10px">

  <md-card class="visitor-card" >
    <md-card-content>
      <hr class="colored-line"><br>
      <span> <h3>Please be seated.</h3>
      <h3>  The concerned person will attend to you shortly.</h3>
        </span>

    <h5 align="right">&copy; 2018 TechFerry</h5>			
  </md-card-content>
  </md-card>
</div>
           
          