<div class="container" fxLayout="row" fxLayout.sm="column"  fxLayout.xs="column" fxLayoutAlign.xs="start center"
  fxLayoutAlign.sm="start center" fxLayoutAlign.gt-sm="center center" fxLayoutGap="10px">

  <md-card class="visitor-card" >
    <md-card-content>
      <h3 class="visitor-card-heading"><b>e-Welcome</b></h3>		
      <h4 class="visitor-card-heading ">Welcome to <b>TechFerry</b></h4>
      <hr class="colored-line"><br>
      <span> Please Enter your Mobile Number
        <!--
        <p>Form value: {{ visitorForm.value.mobilenum }}</p>  <p> Is "myForm" valid? {{visitorForm.valid}} </p>
        -->
      </span>
      <form novalidate [formGroup]="visitorForm" (ngSubmit)="onSubmit()"
        *ngIf="!mobilinocopy && !submitted">
             <p>
                <md-input-container class="full-width"
                        dividerColor="{{(formErrors.mobilenum) ? 'warn' : 'primary'}}">
                  <input mdInput formControlName="mobilenum" placeholder="Mobile Number" type="text" pattern="[0-9]*" required maxlength="10">
                  <md-hint>
                      <span [hidden]="!(formErrors.mobilenum)">
                          {{formErrors.mobilenum}}
                      </span>
                  </md-hint>
                </md-input-container>
              </p>
              <br>
          <!--      
        <a md-button routerLink="/contact"  routerLinkActive="active" class="background-primary text-floral-white full-width" [disabled]="visitorForm.invalid">Next</a>
          -->
           <button type="submit"  md-button class="background-primary text-floral-white full-width"  [disabled]="visitorForm.invalid"  > Next</button>
      </form>
<!--
      <div [hidden]="!submitted">
        <h4>Submitting Form</h4>
        <md-spinner></md-spinner>
      </div>

        <div *ngIf="mobilenocopy && !submitted" >
          <h3>Your Submission:</h3>
          <p>First Name: {{ mobilenocopy.mobilenum }}</p>
      </div>
    -->  
      <h5 align="right">&copy; 2018 TechFerry</h5>			
    </md-card-content>
  
  </md-card>

</div>
           
          